.toast_container_custom {
    position: fixed;
    top: 8vh;
    right: 30px;
    opacity: 1;
    transition: transform .4s ease;
    z-index: 9999999;
    max-width: 300px;
}

.toast_success_msg {
    background-color: rgb(61, 155, 61);
}
.toast_error_msg {
    background-color: rgb(238, 69, 69);
}

.toast_wrapper {
    padding: 10px 30px;
    font-size: 14px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
    transition: opacity 2s ease;
    border-radius: 5px;
    max-width: 280px;
    margin: 20px 0px 0px 0px;
    font-weight: 400;

    
}

.toast_wrapper:hover {
    cursor: pointer;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 8px 22px 0 rgba(0, 0, 0, 0.29);
}


@media screen and (max-width: 600px) {

    .toast_container_custom{
        right: 0px;

        
    }

    .toast_wrapper{
        margin: 20px 10px 0px 0px;
    }
}